@using Esendexers.HomelessWays.Web.Models.Incidents
@model IncidentViewModel
    
<h2>Record Incident</h2>
<form asp-controller="Incidents" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <div class="form-group">
        <label asp-for="File">File input</label>
        <input asp-for="File">
    </div>
    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" />
    </div>
    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>