<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Welcome to HomelessWays!</h3>
  <div>
    <img *ngIf="imageBase64" [src]="imageBase64" class="rotate90">
    <textarea [(ngModel)]="description"></textarea>
    <button ion-button secondary (click)="takePicture()">Take a picture</button>
    <button ion-button secondary *ngIf="displaySubmit()">Submit</button>
  </div>
</ion-content>
